extends layoutBS

block head
  script(src="/js/add.js")
  
block content
  .body
    br
    br 
    br
    br
    .margin
      .w3-container.w3-content.w3-padding-64.w3-light-grey.w3-center(style="max-width:1000px")        
        h4.w3-wide.w3-center 
          i.fa.fa-plus-square.w3-large
          |  ADD NEW EVENT
        br
        br
        form(method="post" name="myForm" action="saveInput" onsubmit="return validateForm()")
          .row
            .col-2
              label Title
            .col-6
              .input-group.md-3
                input.form-control(name = "title" type = "text" placeholder = "Add Event Title" width='60%')
          br
          .form-row
            .formGroup.col-2
              label Start Time 
            .formGroup.col-3
              input.form-control(type="date" name="startDate")
            .formGroup.col-3
              input.form-control(type="text" name="startTime" placeholder="e.g. 10:00")
            .formGroup.col-2
              input(type="checkbox" class = "all-day-check" name = "allDay") 
              label.all-day-check All day 
          br
          .form-row
            .formGroup.col-2
              label End Time 
            .formGroup.col-3
              input.form-control(type="date" name="endDate")
            .formGroup.col-3
              input.form-control(type="text" name="endTime" placeholder="e.g. 13:00")
          br
          br
          .form-row
            .formGroup.col-2
              label Description
            .formGroup.col-6
              input.form-control(type="text" name="description" placeholder = "Include event details here")
          br
          .form-row
            .formGroup.col-2
              label Color 
            .formGroup.col-3
              select(name="color").form-control
                option(selected="") Choose...
                option Green
                option Grey
                option Pink
                option Red
                option Yellow
            .col-2
            .col-1
              input.w3-button.w3-teal(type="submit" value="Add")
            .col-1
              a.w3-button.w3-grey(href="/calendar/calendarD") Back
          hr
      br 
      br
      br
