extends layoutBS

block content
  .margin
    .row
      .col-12.text-center
        h1.text-center SON
        input.btTxt.submit(type="image" src="/images/microphone.png" name="saveForm" width="20" align="middle")
    hr
    .row
      .col-5
        label New Event 
        br
        form(method="post" action="saveInput")
          textarea(name="content" rows="5" cols="65")
          input.text-center.btn.btn-success(type="submit" style="background-color: #3c7045;")
        br
        br
        br
        form
          .form-row
            .formGroup.col-2
              label Date 
            .formGroup.col-10.text-right
              input(type="date" name="Date")
          br
          .form-row
            .formGroup.col-2
              label Time 
            .formGroup.col-10.text-right
              input(type="time" name="time")
          br
          .form-row
            .formGroup.col-2
              label Location  
            .formGroup.col-10.text-right
              input(type="text" name="location")      
          br
          .form-row
            .formGroup.col-2
              label People 
            .formGroup.col-10.text-right
              input(type="text" name="people")
          hr
          input.text-center.btn.btn-success(type="submit" style="background-color: #3c7045;")
      .col-1
      .col-6
        .card(style="width: 35rem;")
          .card-header
            | Schedule for today
          ul.list-group.list-group-flush
            li.list-group-item content
              
        
