extends layoutBS

block content
  .container
    form.form-inline.mr-auto
      input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
      button.btn.btn-primary(type='submit') Search
