extends layoutBS

block content
  body
    br
    br
    br
    br
    .container
      form.form-inline.mr-auto(method="post" action="searchProfile")
        input.form-control.mr-sm-2(name="searchfriend" type='text', placeholder='Search a friend gmail', aria-label='Search')
        button.btn.btn-primary(type='submit') Search
    
    br
      
