extends layoutBS

block head
  script(src="/js/underscore-min.js")  
  link(href="/stylesheets/fullcalendar.css" rel="stylesheet" type='text/css') 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
  script(src='/js/moment-timezone.js')
  script(src='/controllers/fullcalenController')
  script(src='/js/fullcalendar.js')
  script(src='/js/fullcalendar2.js')
  

block content
  .body
    br
    br 
    br
    br 
    .margin
      .row
        .col-4
        .col-4
          h3.w3-wide.w3-center.w3-text-black.w3-teal
            i.fa.fa-plane.w3-xlarge
            |  SEND EVENT
        .col-2
        .col-2
          a.w3-button.w3-grey.w3-button-small(href="/friend") Back to friend
      br
      br
      .w3-container.w3-content.w3-padding-16.w3-light-grey.w3-center(style="max-width:1200px")        
        #calendar
