extends layoutBS

block content
 .calendar-div
  .clndr-controls
      .clndr-previous-button &lsaquo;
      .month
        month
      .clndr-next-button &rsaquo;
  .clndr-grid
      .days-of-the-week
        each day in daysOfTheWeek
          .header-day
             | #{day}
      .days
        each day in days
          div(class= day.classes)
              |#{day.day}
