extends layoutBS

block content
  .body
    .margin
      .month
        ul
          li.prev ❮
          li.next ❯
          li
            | August
            br
            span(style="font-size:18px") 2017
      ul.weekdays
        li Mo
        li Tu
        li We
        li Th
        li Fr
        li Sa
        li Su
      ul.days
        li 1
        li 2
        li 3
        li 4
        li 5
        li 6
        li 7
        li 8
        li 9
        li
          span.active 10
        li 11
        li 12
        li 13
        li 14
        li 15
        li 16
        li 17
        li 18
        li 19
        li 20
        li 21
        li 22
        li 23
        li 24
        li 25
        li 26
        li 27
        li 28
        li 29
        li 30
        li 31
