extends layoutBS

block content
  .margin
    .row
      .col-sm-12.text-center
        h1 SON
        input.btTxt.submit(type="image" src="/images/microphone.png" name="saveForm" width="20" align="middle")
        hr
    .row
      .col-sm-4
        label input
        br
        textarea(rows="5" cols="50")
        br
        br
        br
        form-group.row
          label.col-sm-2.col-form-label Date
          .col-sm-8.text-right
            input(type="Date" name="Date")
        br
        form-group.row
          label.col-sm-2.col-form-label Time
          .col-sm-8.text-right
            input(type="Time" name="Time")
        br
        form-group.row
          label.col-sm-2.col-form-label Location
          .col-sm-8.text-right
            input(type="Location" name="Location")
        br
        form-group.row
          label.col-sm-2.col-form-label People
          .col-sm-8.text-right
            input(type="People" name="People")
        hr
        input.button-center.btn.btn-success(type="submit" style="background-color: #3c7045;")
