extends layoutBS2

block content
  .margin
    h1.text-center= title
    hr
    .row
      .col-4
        label New Event 
        textarea(rows="5" cols="50")
        br
        br
        br
        form(method="post")
          .form-row
            .formGroup.col-4
              label Date 
            .formGroup.col-8
              input(type="date" name="Date")
          br
          .form-row
            .formGroup.col-4
              label Time 
            .formGroup.col-8
              input(type="text" name="time")
          br
          .form-row
            .formGroup.col-4
              label Location  
            .formGroup.col-8
              input(type="text" name="location")      
          br
          .form-row
            .formGroup.col-4
              label People 
            .formGroup.col-8
              input(type="text" name="people")
          hr
          input.button-center.btn.btn-success(type="submit" style="background-color: #3c7045;")
