html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    block head
    
    body
      .w3-display-topright
        br
        #myNavbar.w3-bar
          a.w3-bar-item.w3-button.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right(href='javascript:void(0);', onclick='toggleFunction()', title='Toggle Navigation Menu')
            i.fa.fa-bars 
          |
          if loggedIn
            a.w3-bar-item.w3-button(href='/') HOME 
            |   
            a.w3-bar-item.w3-button.w3-hide-small(href='/calendar/calendarD')
              i.fa.fa-calendar 
              | Calendar  
            |
            a.w3-bar-item.w3-button.w3-hide-small(href='/friend')
              i.fa.fa-group 
              | Friends 
            |
            a.w3-bar-item.w3-button.w3-hide-small(href='/notification')
              i.fa.fa-bullhorn 
              | Notifications
            |
            a.w3-bar-item.w3-button.w3-hide-small(href='/setting')
              i.fa.fa-cog 
              | Settings    
            |
            a.w3-bar-item.w3-button.w3-hide-small(href="/logout")
              i.fa.fa-close 
              | Logout
            |
            if status=='0211'
              a.w3-bar-item.w3-button.w3-hide-small(href="/users")
                i.fa.fa-cog 
                | Google Users
              |
          else
            a.w3-bar-item.w3-button.w3-hide-small(href="/auth/google")
              span.fa.fa-google-plus.text-monospace  Google Login  

    br
    br
    hr
      
    block content
    //-script(src="/js/interact.min.js")
    //-script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
