extends layoutBS

block content
  body
    .margin
      h4.text-monospace Notifications
      .row 
        .col-4
          #list-tab.list-group(role="tablist")
            a#list-allNs-list.list-group-item.list-group-item-action.active(data-toggle="list" href="#allNotifications" role="tab" aria-controls="allNs") All Notifications 
            a#list-reminder-list.list-group-item.list-group-item-action(data-toggle="list" href="#scheduleReminder" role="tab" aria-controls="reminder") Schedule Reminder
            a#list-request-list.list-group-item.list-group-item-action(data-toggle="list" href="#friendRequest" role="tab" aria-controls="request") Friend Request
            a#list-invitation-list.list-group-item.list-group-item-action(data-toggle="list" href="#eventInvitation" role="tab" aria-controls="invitation") Event Invitation
        .col-8
          #nav-tabContent.tab-content
            #allNotifications.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="list-profile-list")
              each n in notifications
                .card.bg-light.mb-3(style="max-width: 50rem;")
                  .card-header 
                    | Notification Type
                    .alignright now
                  .card-body
                    h5.font-weight-bold #{n.email}
                    p.card-text
                      | Remind me to #{n.content}
      

            #scheduleReminder.tab-pane.fade(role="tabpanel" aria-labelledby="list-event-list")
              | lol
              
            #friendRequest.tab-pane.fade(role="tabpanel" aria-labelledby="list-request-list")
              | lolll
    
            #eventInvitation.tab-pane.fade(role="tabpanel" aria-labelledby="list-invitation-list")
              | lollllll
