extends layoutBS

block head
  script(src="/js/update.js")

block content
  .body
    .margin
      .row
        .col-12.text-center
          h1.text-center SON
          input.btTxt.submit(type="image" src="/images/microphone.png" name="saveForm" width="20" align="middle")
      br
      br
      form(method="post" action="" onsubmit="return validateForm()")
        .row
          .col-8
            .input-group.md-3
              input.form-control(name = "title" type = "text" placeholder = "Add Event Title" width='60%' value=event_doc.title)
          .col-4
            input.text-center.btn.btn-warning(type="submit")
        br
        .form-row
          .formGroup.col-2
            label Start Time 
          .formGroup.col-3
            input.form-control(type="date" name="startDate")
          .formGroup.col-2
            input.form-control(type="text" name="startTime" placeholder="e.g. 10:00")
          .formGroup.col-2
            input(type="checkbox" class = "all-day-check" name = "allDay") 
            label.all-day-check All day 
        br
        .form-row
          .formGroup.col-2
            label End Time 
          .formGroup.col-3
            input.form-control(type="date" name="endDate")
          .formGroup.col-2
            input.form-control(type="text" name="endTime" placeholder="e.g. 13:00")
        br
        br
        .form-row
          .formGroup.col-2
            label Content 
          .formGroup.col-3
            input.form-control(type="text" name="content")
        .form-row
          .formGroup.col-2
            label Event ID 
          .formGroup.col-3
            input.form-control(type="text" name="id" placeholder = "give your event an ID")
        br
        .form-row
          .formGroup.col-2
            label Color 
          .formGroup.col-3
            select(name="color").form-control
              option(selected="") Choose...
              option Red
              option Yellow
              option Pink
              option Green
              option Grey
        hr
      br 
      br
      br
    
