extends layoutBS

block content

  h1 SON
  br
  form(method="post" action="deleteUser")
    ol
      each u in users
        li
          input(name="deleteName" value=u._id type="checkbox")
          e #{u.googlename}
          br
      br
      input.btn.btn-info(type="submit" value="Delete checked items")
      hr

      
