extends layoutBS

block content
  .body
    header#home.w3-display-container.w3-content.w3-wide(style = "max-width: 1500px")
      img.w3-image(src = "../images/bg3.jpg" alt = "home" width = "1500" height = "800")  
      .w3-display-middle.w3-margin-top.w3-center
        h1.w3-xxlarge.w3-text-white
          span.w3-padding.w3-black.w3-opacity-min
            b S O N
          br
          br
          span.w3-hide-small.w3-text-light-grey Social Organizer Networking
          br
          br
          br
          br
    .margin
      div.w3-padding-64.w3-white
        .w3-row-padding
          .w3-col.l7.m6
            h1.w3-jumbo
              b SON 
            h1.w3-xxxlarge.w3-text-grey
              b Why use it? 
            p
              span.w3-large Your life is never easier. 
                | SON is a convenient voice enabled reminder app with networking functions. 
                | SON is your personal secretary. It manages all your events and reminds you upcoming events in time. 
                | It can also send your schedule to your friends or invitate available friends to attend events.
                | SON improves your working effciency, keeps your life organized, and connects you with your friends. 
                | With SON, you will never forget one single thing. With SON, you will never feel boring.
          .w3-col.l5.m6
            img.w3-image.w3-right.w3-hide-small(src = "../images/home1.jpg" width = "450" height = "550" )
            .w3-center.w3-hide-large.w3-hide-medium
              button.w3-button.w3-block.w3-padding-large(onclick = "document.getElementById('download').style.display='none'")  
              img.w3-image.w3-margin-top(src = "../images/home1.jpg" width = "335" height = "471" )
              br
              br
              br
              br
              br
              br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        | 未完待续....
        br
        | 我去睡了....
        br
        | 再见...
              
  
